/*.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  overflow: hidden;
  background-color: #F1F3F3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	letter-spacing: .01em;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  width:90vw;
  height: 100vh;
  margin: 0 auto;
	padding-top: 2em;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3em repeat(9, 1fr);
  grid-gap: 1em;
}

.header {
  font-size: 2em;
  grid-column: 1/13;
  margin: 1em 0;
}

.chart-title {
  margin-bottom: .5em;
}

.chart-group-1 {

 display: flex;
 flex-flow: column;
}

.charts {
	grid-column: 1/13;
  display: flex;
	flex-flow: column;
}

#us1-chart {
  width: 65%;
	/* height: 100%; */
}

.choropleth-container {
	display: flex;
	flex-flow: column;
	/* height: 25em; */
	width: 50%;
	margin: 1em 0em;
	background-color: #fff;
  border: rgba(0,0,0,.3) 1px solid;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.special-note {
	font-size: .9em;
	line-height: 1.2;
	padding: 0 1em 1em 1em;
}

.choropleth-data {
	display: flex;
}

.chart-header {
	display: flex;
  flex-flow: column;
  justify-content: center;
	height: 4em;
  background-color: #2980b9;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  margin-bottom: 1em;
}

.chart-header .title {
	color: #fff;
	padding: .5em;
}

.line-chart-container {
  display: flex;
  flex-flow: column;
	background-color: #fff;
  border: rgba(0,0,0,.3) 1px solid;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

#line-chart {
	/* width: 80%; */
  height: 15em;
}

#range-chart {
  height: 2em;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke-width: 1px;
}

.hover-line {
  stroke: steelblue;
  stroke-width: 1px;
}

.switch-field {
	grid-column: 7/13;
  display: flex;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
	display: flex;
	align-items: center;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
	border-bottom: #fff 3px solid;
}

.caption {
	display: flex;
	justify-content: center;
	font-size: .8em;
	margin-top: 1em;
	margin-bottom: .5em;
}

.tooltip {
	max-width: 18em;
  background-color: #fff;
  padding: .8em .8em 0 .8em;
  border-bottom: .5em #36454f solid;
  border-radius: .3em;
}

.tooltip-data {
  margin-bottom: 1em;
}

.tooltip-data > * {
	flex: 1 1 0;
}

.flex {
	display: flex;
}

.sb {
	justify-content:  space-between;
}

.half-em-margin {
	margin-right: .5em;
}

.tooltip .key {
  text-transform: uppercase;
  font-size: .7em;
  margin-bottom: .3em;
  color: #36454f;
}

/* TODO: Figure out how to sort out the key*/
.key {
  text-transform: uppercase;
  font-size: .7em;
  margin-bottom: .3em;
  color: #36454f;
}

.tooltip p {
  font-size: .85em;
}

.render-data p {
  font-size: .85em;
}

#clearIssueFilterButton {
	visibility: hidden;
}

.switch-button {
  color: #fff;
  font-size: 14px;
  text-align: center;
	background-color: transparent;
	border-color: transparent;
  text-shadow: none;
  padding: 6px 14px;
	margin-right: .5em;
  transition: all 0.1s ease-in-out;
	border-bottom: #fff 3px solid;
}

.select-field {
	grid-column: 1/6;
}

#title-select {
	background-color: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #888;
	padding: 0em 1em 0.2em 0.2em;
	font-size: .8em;
}

#title-select:focus {
	outline: none;
}
